.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    display: block;
    align-items: center;
    perspective: 2000px;
    perspective-origin: center center;
}
.container1 {
    display: flex;
    width: 650px;
    height: 100%;
    position: relative;
    left: 400px;
    transition: transform 0.1ms;
    transform: scale3d(1, 2, 3) rotateX(40deg);
    animation-name: text-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.title {
    display: flex;
    color: #fbc02d;
    font-size: 40px;
    line-height: 50px;
    margin-left: 150px;
}
.text {
    color: #fbc02d;
    font-size: 30px;
    line-height: 40px;
    justify-content: center;
}
@keyframes text-animation {

    0% {
        margin-top: 100%;
    }
    25% {
        margin-top: 75%;
    }
    50% {
        margin-top: 50%;
    }

    75% {
        margin-top: 25%;
    }
    100% {
        margin-top: 0;
    }
}


